<a href="https://colab.research.google.com/github/ie-katerinai/Python_Progr/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. 

Ваша задача перевести его в *one hot* вид. 

Сможете ли вы это сделать **без get_dummies**?

import random

lst = ['robot'] * 10

lst += ['human'] * 10

random.shuffle(lst)

data = pd.DataFrame({'whoAmI':lst})

data.head()

In [13]:
import pandas as pd


df = pd.read_csv('sample_data/california_housing_train.csv')
import numpy as np

In [14]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data

   whoAmI
0   human
1   human
2   robot
3   robot
4   human
5   human
6   robot
7   human
8   robot
9   robot
10  human
11  robot
12  robot
13  human
14  human
15  human
16  robot
17  human
18  robot
19  robot

In [15]:
new_data = data.copy()

In [16]:
new_data['robot'] = np.where(new_data['whoAmI']=='robot', 1, 0)
new_data['human'] = np.where(new_data['whoAmI']=='human', 1, 0)

In [17]:
new_data.drop(columns=['whoAmI'],axis=1,inplace=True)

In [18]:
new_data

    robot  human
0       0      1
1       0      1
2       1      0
3       1      0
4       0      1
5       0      1
6       1      0
7       0      1
8       1      0
9       1      0
10      0      1
11      1      0
12      1      0
13      0      1
14      0      1
15      0      1
16      1      0
17      0      1
18      1      0
19      1      0